<!-- 
	Node launch file for bta_tof_driver.

	See http://www.ros.org/wiki/bta_tof_driver for more information.
-->
<launch>
  <node pkg="bta_tof_driver" type="bta_tof_driver_node" name="bta_tof_driver_1"
        args="" required="true" output="screen" >
        <rosparam command="load" file="$(find bta_tof_driver)/launch/bta_tim-eth_3d.yaml" />
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bta_tof_driver)/launch/rvizConfig_tof.rviz" />
  <node name="rqt" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find bta_tof_driver)/launch/bta_tof_driver.perspective"/>
</launch>
