<!-- 
	Nodelet launch file for bta_tof_driver.

	See http://www.ros.org/wiki/bta_tof_driver for more information.
-->
<launch>
	<node pkg="nodelet" type="nodelet"
	name="standalone_nodelet" args="manager"
	output="screen"/>

	<node pkg="nodelet" type="nodelet"
		name="bta_tof_driver_2d_1"
		args="load bta_tof_driver/Sensor2DNodelet standalone_nodelet"
		required="true"	output="screen">
		<param name="2dURL" value="http://192.168.0.10/argos.sdp"/>
	</node>
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find bta_tof_driver)/launch/rvizConfig_2d.rviz" />
</launch>
